body{
margin:0;
overflow:hidden;
font-family:Tahoma;
background:black;
}

.desktop{
width:100vw;
height:100vh;
position:relative;
background:
linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.65)),
url("https://upload.wikimedia.org/wikipedia/commons/6/66/Foggy_forest.jpg");
background-size:cover;
background-position:center;
}

.icon{
position:absolute;
width:80px;
text-align:center;
color:white;
font-size:11px;
cursor:pointer;
text-shadow:1px 1px 2px black;
}

.icon img{
width:40px;
}

.icon span{
display:block;
}

#mycomputer{top:40px;left:30px;}
#recycle{top:130px;left:30px;}
#sys666{top:220px;left:30px;}

.window{
position:absolute;
top:80px;
left:200px;
width:500px;
background:#d4d0c8;
border:2px solid #fff;
box-shadow:inset -2px -2px #888;
}

.hidden{display:none;}

.titlebar{
background:linear-gradient(to right,#0a246a,#3a6ea5);
color:white;
display:flex;
justify-content:space-between;
padding:3px;
font-size:12px;
}

.controls{
display:flex;
gap:3px;
}

.btn{
width:18px;
height:16px;
background:#d4d0c8;
text-align:center;
font-size:10px;
cursor:pointer;
}

.close{
background:red;
}

.content{
padding:10px;
display:flex;
gap:20px;
flex-wrap:wrap;
}

.folder{
width:80px;
text-align:center;
font-size:11px;
cursor:pointer;
}

.folder img{
width:32px;
}

.danger{
color:red;
}

.taskbar{
position:fixed;
bottom:0;
width:100%;
height:35px;
background:linear-gradient(to top,#1c5ed6,#3a8bff);
display:flex;
justify-content:space-between;
align-items:center;
padding:0 10px;
color:white;
}

.start{
background:green;
padding:4px 10px;
border-radius:3px;
display:flex;
align-items:center;
gap:5px;
}

.clock{
background:rgba(255,255,255,0.2);
padding:3px 10px;
}

.scanlines,
.noise,
.vignette{
pointer-events:none;
position:fixed;
inset:0;
}

.scanlines{
background:repeating-linear-gradient(to bottom,transparent,transparent 2px,rgba(255,255,255,0.03) 3px);
}

.noise{
background:url("https://media.tenor.com/AYOaX8sQ3X8AAAAC/static.gif");
opacity:0.04;
}

.vignette{
background:radial-gradient(circle,transparent 40%,black);
}

.popup{
position:absolute;
background:#111;
color:red;
padding:10px;
border:1px solid red;
font-size:12px;
}
